CORS_ORIGINS=*
DB=mongodb://your_username:your_password@localhost:27017/ocre-ai
MONGODB_DATABASE=ocre_ai
SECRET_KEY=your_secret_key
PUBLIC_URL=http://localhost:5178
EMAIL_FROM=noreply@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=False
